<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmpt276.indigo.carbontracker">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TransportationSelectActvitiy"
            android:label="@string/title_activity_transportation_select_actvitiy"
            android:parentActivityName=".JourneyAddActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpt276.indigo.carbontracker.JourneyAddActivity" />
        </activity>
        <activity
            android:name=".TransportationAddActivity"
            android:label="@string/title_activity_transportation_add_actvitiy"
            android:parentActivityName=".TransportationSelectActvitiy"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpt276.indigo.carbontracker.TransportationSelectActvitiy" />
        </activity>
        <activity
            android:name=".RouteSelectActivity"
            android:label="@string/title_activity_route_select"
            android:parentActivityName=".JourneyAddActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpt276.indigo.carbontracker.JourneyAddActivity" />
        </activity>
        <activity
            android:name=".RouteAddActivity"
            android:label="@string/title_activity_add_route_actvitiy"
            android:parentActivityName=".RouteSelectActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpt276.indigo.carbontracker.RouteSelectActivity" />
        </activity>
        <activity
            android:name=".JourneyAddActivity"
            android:label="@string/title_activity_journey_menu"
            android:parentActivityName=".MainMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpt276.indigo.carbontracker.JourneySelectActivity" />
        </activity>
        <activity
            android:name=".CarbonFootprintJourneyFootprintMenu"
            android:label="@string/title_activity_carbon_footprint_menu"
            android:parentActivityName=".CarbonFootprintMainMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpt276.indigo.carbontracker.CarbonFootprintMainMenu" />
        </activity>
        <activity
            android:name=".JourneySelectActivity"
            android:label="@string/select_journey"
            android:parentActivityName=".MainMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpt276.indigo.carbontracker.MainMenu" />
        </activity>
        <activity android:name=".DateSelectActivity" />
        <activity
            android:name=".UtilitySelectActivity"
            android:label="@string/title_activity_utility_select"
            android:parentActivityName=".MainMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpt276.indigo.carbontracker.MainMenu" />
        </activity>
        <activity
            android:name=".UtilityAddActivity"
            android:label="@string/utlity_add"
            android:parentActivityName=".UtilitySelectActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpt276.indigo.carbontracker.UtilitySelectActivity" />
        </activity>
        <activity
            android:name=".UtilityResultActivity"
            android:label="@string/title_emssions_summary"
            android:parentActivityName=".UtilitySelectActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpt276.indigo.carbontracker.UtilitySelectActivity" />
        </activity>
        <activity
            android:name=".CarbonFootprintBarGraphsMenu"
            android:label="@string/emissions_by_period"
            android:parentActivityName=".CarbonFootprintMainMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpt276.indigo.carbontracker.CarbonFootprintMainMenu" />
        </activity>
        <activity
            android:name=".CarbonFootprintMainMenu"
            android:label="@string/data_menu_title"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpt276.indigo.carbontracker.MainMenu" />
        </activity>

        <receiver android:name=".Notification_receiver" />

        <activity
            android:name=".TransportationImageSelect"
            android:label="@string/title_activity_transportation_add_actvitiy"
            android:parentActivityName=".TransportationAddActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpt276.indigo.carbontracker.TransportationAddActivity" />
        </activity>
        <activity
            android:name=".CarbonFootprintPieGraphsMenu"
            android:label="@string/title_activity_carbon_footprint_pie_graphs_menu"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".CarbonFootprintMainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpt276.indigo.carbontracker.CarbonFootprintMainMenu" />
        </activity>
    </application>

</manifest>