<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmpt276.indigo.carbontracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TransportationSelectActvitiy"
            android:label="@string/title_activity_transportation_select_actvitiy"
            android:parentActivityName=".JourneyMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpt276.indigo.carbontracker.JourneyMenu" />
        </activity>
        <activity
            android:name=".TransportationAddActivity"
            android:label="@string/title_activity_transportation_add_actvitiy"
            android:parentActivityName=".TransportationSelectActvitiy">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpt276.indigo.carbontracker.TransportationSelectActvitiy" />
        </activity>
        <activity
            android:name=".RouteSelectActivity"
            android:label="@string/title_activity_route_select"
            android:parentActivityName=".JourneyMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpt276.indigo.carbontracker.JourneyMenu" />
        </activity>
        <activity
            android:name=".RouteAddActivity"
            android:label="@string/title_activity_add_route_actvitiy"
            android:parentActivityName=".RouteSelectActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpt276.indigo.carbontracker.RouteSelectActivity" />
        </activity>
        <activity
            android:name=".JourneyMenu"
            android:label="@string/title_activity_journey_menu"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpt276.indigo.carbontracker.MainMenu" />
        </activity>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".CarbonFootprintMenu"
            android:label="@string/title_activity_carbon_footprint_menu"
            android:parentActivityName=".JourneyMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpt276.indigo.carbontracker.JourneyMenu" />
        </activity>

        <activity
            android:name=".viewjourney.ViewJourneyActivity"
            android:label="View Journey"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpt276.indigo.carbontracker.MainMenu"/>
        </activity>

        <activity
            android:name=".viewjourney.EditJourneyActivity"
            android:label="Edit Journey"
            android:parentActivityName=".JourneyMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpt276.indigo.carbontracker.JourneyMenu"/>
        </activity>

        <activity android:name=".DateSelectActivity"></activity>

        <activity
            android:name=".UtilitySelectActivity"
            android:label="@string/title_activity_utility_select"
            android:parentActivityName=".MainMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpt276.indigo.carbontracker.MainMenu"/>
        </activity>

        <activity
            android:name=".UtilityAddActivity"
            android:label="@string/utlity_add"
            android:parentActivityName=".UtilitySelectActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpt276.indigo.carbontracker.UtilitySelectActivity"/>
        </activity>

    </application>

</manifest>