<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmpt276.indigo.carbontracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TransportationSelectActvitiy"
            android:label="@string/title_activity_transportation_select_actvitiy"
            android:parentActivityName=".JourneyMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpt276.indigo.carbontracker.JourneyMenu" />
        </activity>
        <activity
            android:name=".CarboonFootprintActivity"
            android:label="@string/title_activity_carbon_foot_print"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"

                android:value="com.cmpt276.indigo.carbontracker.MainMenu" />
        </activity>
        <activity
            android:name=".TransportationAddActivity"
            android:label="@string/title_activity_transportation_add_actvitiy"
            android:parentActivityName=".TransportationSelectActvitiy">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpt276.indigo.carbontracker.TransportationSelectActvitiy" />
        </activity>
        <activity
            android:name=".RouteSelectActivity"
            android:label="@string/title_activity_route_select"
            android:parentActivityName=".JourneyMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpt276.indigo.carbontracker.JourneyMenu" />
        </activity>
        <activity
            android:name=".RouteAddActivity"
            android:label="@string/title_activity_add_route_actvitiy"
            android:parentActivityName=".RouteSelectActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpt276.indigo.carbontracker.RouteSelectActivity" />
        </activity>
        <activity
            android:name=".ResultActivity"
            android:label="@string/title_activity_result_actvitiy">
        </activity>

        <activity
            android:name=".JourneyMenu"
            android:label="@string/title_activity_journey_menu"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpt276.indigo.carbontracker.MainMenu" />

        </activity>
    </application>

</manifest>